body {
    margin: 0px;
    background-color: black;
}
main {
    display: grid;
    grid-template: auto 1fr auto / auto 1fr auto;
}
.fundoComandosPrincipais{
    padding: 2rem;
    grid-column: 1 / 4;
    background-color: grey;
}
.comandosPrincipais {
    padding: 2rem;
    grid-column: 1 / 4;
    background-color: grey;
    display:flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.fundoLista {
    grid-column: 1 / 2;
    background-color: cornsilk;
    place-items: center;
  }

.fundoTabuleiro {
    grid-column: 2 / 3;
    background-color: cornsilk;
    width: 100%;
    height: 100%;
    min-width: 600px;
    min-height: 600px;
    display: grid;
    place-items: center;
}
.quadrado {
    border: 1px solid;
    width: 60px;
    height: 60px;
}
.plano {
    background-color: gray;
}

.parede {
    background-color: darkgreen;
}

.luz {
    background-color: blue;
}

.apagado {
    background-color: darkslategrey;
}
.fundoComandos {
    grid-column: 3 / 4;
    background-color: cornsilk;
}
.comandos {
    display: flex;
    margin: 20px;
    gap: 1em;
    flex-direction: column;
}
button {
    padding: 5px 15px;
    width: 150px;
    height: 50px;
}
button:hover {
    background-color: black;
    color: white;
}
footer, header {
    grid-column: 1 / 4;
    background-color: black;
    color: white;
  }