main {
    display: flex;
    justify-content: space-between;
}

.tabuleiro {
    border-spacing: 0;
    margin: 20px;
}

.quadrado {
    border: 1px solid;
    width: 3em;
    height: 3em;
}

#comandos {
    display: flex;
    margin: 20px;
    gap: 1em;
    flex-direction: column;
    border: 1px solid;
}

button {
    padding: 5px 15px;
    width: 150px;
    height: 50px;
}